<div class="files-container" *ngFor="let file of files">
    <div class="file-info">
      <p class="file-name">{{ file.fileName }} <button class="delete-button" (click)="deleteFileById(file.id)">Supprimer</button></p>
      <p class="creation-date">Date de création: {{ file.creationDate | date:'medium' }}</p>
    </div>
    <table class="meta-data-table">
      <tr *ngFor="let metaData of file.columnInfos">
        <td>{{ metaData.columnName }}: {{ metaData.columnType }}</td>
      </tr>
    </table>
</div>
