<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h2 mat-dialog-title>Edit Description</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <i class="material-icons" (click)="onNoClick()">cancel</i>
  <i class="material-icons" [mat-dialog-close]="data.description" cdkFocusInitial>check_circle</i>
</mat-dialog-actions>
