
  <nav>
    <div class="logo">
      
      <h1>LOGO</h1>
    </div>
    <ul>
     <li>
          <a routerLink="/upload">Home</a>
        </li>
      <li>
        <a routerLink="/upload">Upload</a>
      </li>
      <li>
        <a routerLink="/tables">Tables</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>

<div class="upload">
    <input type="file" (change)="onFileSelected($event)" />
    <input type="text" [(ngModel)]="description" placeholder="Enter file description" />
    <button (click)="onUpload()">Upload</button>
  </div>
  