
  
  input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Makes the description field take the full width of its container */
    box-sizing: border-box; /* Ensures padding does not affect the overall width */
    font-size: 16px; /* Increases font size for better readability */
  }
  
  /* The rest of your styles remain unchanged */
  
  
  .custom-file-upload:hover {
    background-color: #0056b3; /* Darker blue */
  }
  
  /* Existing styles */
  div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  
  button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  