<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" name="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="data.description" name="description">
    </mat-form-field>

    
    <!-- Add other fields as necessary -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <i class="material-icons" (click)="onCancelClick()">cancel</i>
  <i class="material-icons" (click)="save()">check_circle</i>
</mat-dialog-actions>
